<h2 mat-dialog-title>{{ accion }} Nuevo Proveedor</h2>
<hr>
<mat-dialog-content>
    <form [formGroup]="proveedorForm">
        <mat-form-field appearance="outline" class="w-75 pe-2">
            <mat-label>Nombre</mat-label>
            <input formControlName="nombre" matInput placeholder="Ingrese nombre">
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-25 ">
            <mat-label>Factura/DNI</mat-label>
            <input formControlName="documento" matInput placeholder="Ingrese factura o DNI">
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-50 pe-2">
            <mat-label>Celular</mat-label>
            <input formControlName="celular" matInput placeholder="Ingrese número de celular" type="tel">
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-50">
            <mat-label>Correo</mat-label>
            <input formControlName="correo" matInput placeholder="Ingrese correo electrónico" type="email">
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-100">
            <mat-label>Dirección</mat-label>
            <input formControlName="direccion" matInput placeholder="Ingrese dirección">
        </mat-form-field>

    </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancelar</button>
    <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="proveedorForm.invalid" [mat-dialog-close]="true">Guardar</button>
</mat-dialog-actions>